h1{
    padding: 8px;
}
h1 a{
    text-decoration: none;
    color: black;
}

a{text-decoration: none;}

*{
    font-family: sans-serif;
}
/* background colour */
body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 70%;

}
/* Portraits on index */
.team{
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}
/* Menu on the top of website */
nav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
/* Buttons in menu */
nav a{
    background-color: rgb(144, 144, 144);
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    transition: .4s;
}
/* Menu when mouse hover */
nav a:hover{
    background-color: rgba(0, 177, 0, 0.5);
    transition: .4s;
}
/* Design for all pics */
img{
    width: 30%;
    height: 30%;
    border-collapse: collapse;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

/* Aura colour in table on index */
.FlaeAura{
    background-color: red;
}
.OllieAura{
    background-color: olive;
}
.AzuliAura{
    background-color: blue;
}
.SaffAura{
    background-color: #50C878;
}

/* Styling header in bio */
h3:first-of-type{
    font-size: x-large;
}

/* everyhing on the individual pages */
.flaecontent, .olliecontent, .azulicontent, .saffcontent{
    padding-left: 1%;
    box-sizing: border-box;
}

/* makes 3 column layout possible */
.bio, .left{
    float: left;
}

/* Sizes the different columns */
.left{
    width: 40%;
}
.left img{
    width: 100%;
}
.bio{
    width: 45%;
    padding-left: 7px;
}
/* header 2 over emblem */
h2{
    float: right;
}

/* List of traits moves to the right */
.right{
    float: right;
    width: 10%;
}
.right img{
    width: 100%;
}
.right ul{
    padding-left: 0;
}

/* Styling for picture on emblem */
.emblem{
    border-style: solid;    
    background-color: rgba(0, 0, 0, .2);
    width: 10%;
    height: 10%;
    border-radius: 20px;
    float: right;
    display: inline;
}

/* makes the content not take up the full screen */
body{
    margin-left: auto;
    margin-right: auto;
    background-color: coral;
    margin-bottom: 0;
}

/* Design for table on index */
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(137, 163, 240);
    padding: 5px;
}

/* Moving the full table */
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* Design for footer on indeex */
footer{
    background-color: #50C878;
    margin-top: 50px;
    margin-bottom: 0;
}